# Gitignore for all dll files and build components/directories for C# dotnet core projects

# Binaries
*.dll
*.exe
*.pdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
*FileListAbsolute.txt
*assets.cache

# Misc
*.log

# SQL Server files/objects
*.mdf
*.ldf
*.ndf

*.db
*.dbmdl
*.dbproj.schemaview
*.dbproj.user
*db-shm
*db-wal

# TLScope output files
*.dot
*.bak
tlscope_exclusions.json
appsettings.json

